@import "../../../styles/utils.scss";

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 2rem;
}

.searchTerm {
  width: 100%;
  border: 3px solid $oc-blue-5;
  border-right: none;
  padding: 5px;
  height: 3rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: $oc-blue-5;
  font-size: 1.2rem;
}

.searchTerm:focus {
  color: $oc-blue-8;
}

.searchButton {
  width: 4rem;
  height: 3rem;
  border: 1px solid $oc-blue-5;
  background: $oc-blue-5;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.5rem;
}
